html, body {
  height: 100%;
}

canvas {
  display: block;
  
  border: solid white;
}

body {
  margin: 0;
  padding: 2em;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  background-color: black;
}

h3 {
  padding: 0.5em;
  text-align: center;
  color: white;
}