html, body {
  height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
  padding: 2em;
  display: flex;
  overflow: hidden;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  background-color: black;
}

p {
  font-size: 14pt;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 22pt;
  margin-bottom: 2em;
  text-align: center;
  color: white;
}

h3 {
  padding: 0.5em;
  text-align: center;
  color: white;
}