html, body {
  height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
  padding: 2em;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  background-color: rgb(50, 50, 50);
}

#main {
  outline: snow solid 1px;
}